<section class="flex flex-col w-screen h-screen items-center px-5 py-5">
  <div class="w-full max-w-7xl h-auto mt-20 px-0 py-2">
    <h1 class="text-base sm:text-lg md:text-xl lg:text-5xl font-medium">
      Angular - CRUD с реактивной формой
    </h1>
    <p
      class="text-xs sm:text-sm md:text-lg lg:text-2xl font-normal mt-5 mb-10 text-gray-500">
      Тестовое задание для компании Проcофт Системы
    </p>
    <a
      routerLink="/products"
      class="text-sm lg:text-base px-3 py-4 text-white bg-green-600 border border-green-600 rounded-md shadow-lg shadow-green-500/20 hover:opacity-80"
      >Страница с продуктами</a
    >
  </div>
</section>
